@import "global";

@include encode_sans_def();

@import "inc/normalize";

html {
	box-sizing: border-box;
	@include rhythm-normalize();
}
*, *::before, *::after {
	box-sizing: inherit;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*
Layout
*/
html {
	overflow-x: auto;
	min-width: $page_wrap_width;
}
body {
	background: #f7f6f4 url('../images/bg_pattern.png') repeat;
	overflow-x: hidden;
	min-width: $page_wrap_width;
}

.main_header {
	max-width: 1500px;
	min-height: 200px;
	margin: 0 auto;
	min-width: $page_wrap_width;
	background: url( '../images/header_bg_man.png' ) center top no-repeat;
	position: relative;
	z-index: 20;

		&::before {
			content: '';
			background: url( '../images/header_bg_plain.png' ) left top no-repeat;
			width: 1500px;
			height: 200px;
			position: absolute;
			right: 100%;
			top: 0;
		}

		&::after {
			content: '';
			background: url("../images/header_bg_plain.png") left top no-repeat;
			width: 1500px;
			height: 200px;
			position: absolute;
			right: -1500px;
			top: 0;
		}
	}
	.main_header__inner {
		width: $page_wrap_width;
		margin: 0 auto;
		position: relative;
	}
	.main_header__quick_menu {
		position: relative;
		top: 40px;
		left: 40px;
		width: 160px;
		}
		.main_header__quick_menu__ul {

			}
			%header_link {
				color: #FFF;
				text-decoration: none;
				font-family: $encode_sans;
				font-size: 13px;
				transition: color 200ms;
				position: relative;

					&:hover {
						color: #dddddd;
					}
			}
			.main_header__quick_menu__ul__item {
				@extend %header_link;
				display: block;
				padding: 6px 0;

					a {
						color: inherit;
						text-decoration: inherit;
						line-height: inherit;
						display: inline-block;
					}

				}
				%header_icons {
					width: 20px;
					height: 20px;
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
					margin-top: -5px;
				}
				.main_header__quick_menu__ul__item__icon {
					@extend %header_icons;
				}
				.main_header__quick_menu__ul__item__submenu {
					position: absolute;
					display: none;
					left: 140px;
					top: 5px;
					transform: translateY( -50% );
					background: $bubble_orange;
					border-radius: 150px;
					padding: 20px 20px;
					box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.8 );

						&::after {
							content: '';
							position: absolute;
							left: -45px;
							top: 50%;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 10px 50px 10px 0;
							border-color: transparent $bubble_orange transparent transparent;
						}

					}
					.main_header__quick_menu__ul__item__submenu__item {
						display: block;
						white-space: nowrap;

							a {
								font-size: inherit;
								color: #FFF;

									&:hover {
										text-decoration: underline;
									}
							}

							&::before {
								content: '';
								display: inline-block;
								width: 5px;
								height: 5px;
								background: $main_orange;
								border-radius: 5px;
								margin-right: 5px;
							}
					}

	$tagline_right: 200px;
	.main_header__tagline {
		display: block;
		position: absolute;
		right: $tagline_right;
		top: 50px;
		text-align: right;
		color: #772c12;
		font-family: $encode_sans;
		font-weight: bold;
		line-height: 1.2em;
		font-size: 18px;
		text-shadow: 0 0 3px #ee9310;
	}

	.main_header__photo_link {
		@extend %header_link;
		position: absolute;
		right: $tagline_right;
		top: 140px;
		}
		.main_header__photo_link__image {
			@extend %header_icons;
			margin-left: 5px;
			margin-right: 0;
		}

	.main_header__logo {
		position: absolute;
		right: 0;
		top: 0;
		padding: 60px 20px 10px 20px;
		background: #eef6fa;
		border-color: #FFF;
		border-width: 2px;
		border-style: none solid solid solid;
		box-shadow: inset 10px -10px 20px 10px rgba( 0,0,0,0.1 ),
					0 10px  25px -10px rgba( 0,0,0,0.5 );
		}
		.main_header__logo__image {
			width: 137px;
			height: 80px;
		}

@import "inc/owl.carousel";

.main_slider {
	margin-top: -31px;
	z-index: 10;
	position: relative;
	}

	$slider_height: 340px;
	.owl-item {
		position: relative;
		height: $slider_height;
		overflow: hidden;

			img {
				height: $slider_height;
				width: auto;
				display: block;
				position: absolute;
				left: 50%;
				transform: translateX( -50% );
			}
	}

	.main_slider__item__text {
		$width: $page_wrap_width - 200px;
		width: $width;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
		text-align: center;

		font-family: $encode_sans;
		font-size: 19px;
		line-height: 1.2em;
		color: #FFF;
		text-shadow: 2px 2px 2px #000;
		}
		.main_slider__item__text__tagline {
			font-weight: bold;
			font-size: 60px;
			line-height: 1.2em;
			margin: 0;
		}

	.owl-pagination {
		z-index: 20;
		position: absolute;
		top: 40px;
		right: 50%;
		margin-right: -($page_wrap_width/2);
		}
		$pagination_bullet_size: 15px;
		.owl-page {
			display: inline-block;
			width: $pagination_bullet_size;
			height: $pagination_bullet_size;
			border: 2px solid #FFF;
			border-radius: $pagination_bullet_size;
			margin-left: 10px;
			background: transparent;
			transition: background-color 300ms;

				&.active {
					background-color: #FFF;
				}
		}